<a href="https://colab.research.google.com/github/0hJunSeok/Python/blob/main/hw1%EC%98%A4%EC%A4%80%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 001
print('Hello World')

In [ ]:
# 002
print('Mary\'s cosmetics')

In [ ]:
# 003
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
# 004
print('"C:\Windows"') # 역슬래시 대신 \ 으로

In [ ]:
# 005
print("안녕하세요.\n 만나서\t\t 반갑습니다.") # \n = 줄바꾸기, \t = 일정 간격 띄우기

In [ ]:
# 006
print ("오늘은", "일요일") # sep 를 사용하지 않아서 공백 (오늘은 일요일)

In [ ]:
# 007
print('naver', 'kakao', 'sk', 'samsung', sep=';')

In [ ]:
# 008
print('naver', 'kakao', 'sk', 'samsung', sep='/')

In [ ]:
# 009
print("first", end =' ');print("second")

In [ ]:
# 010
a = 5
b = 3
print(f'{a} / {b} = {a / b} ')

In [ ]:
# 011
samsung = 50000
stock = 10
print(f'총 평가금액은 {samsung * stock}입니다.')

In [15]:
# 012
total = 298000000000000
now = 50000
PER = 15.79

In [ ]:
# 013
s = "hello"
t = "python"
print(f'{s}! {t}')

In [ ]:
# 014
2 + 2 * 3 # 곱셈먼저 계산하기떄문에 8

In [18]:
# 015
a = "132" # 132 이라는 문자열

In [ ]:
# 016
num_str = "720"
print(type(num_str))
num_str = 720
print(type(num_str))

In [ ]:
# 017
num = 100
print(type(num))
num = '100'
print(type(num))

In [ ]:
# 018
a = "15.79"
print(type(a))
a = 15.79
print(type(a))

In [ ]:
# 019
year = 2020
print(f'{year - 2}, {year - 1}, {year}')

In [ ]:
# 020
money = 48584
n = 36
print(f'총 금액은 {money * n}원 입니다.')