<a href="https://colab.research.google.com/github/0hJunSeok/Python/blob/main/hw4_%EC%98%A4%EC%A4%80%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 211
def 함수(문자열) :
 print(문자열)
함수("안녕")
함수("Hi")

# 안녕
# Hi

In [ ]:
# 212
def 함수(a, b) :
 print(a + b)
함수(3, 4)
함수(7, 8) 

# 7
# 15

In [ ]:
# 213
def 함수(문자열) :
 print(문자열)
함수()  # 문자열을 안 넣어서

In [ ]:
# 214
def 함수(a, b) :
 print(a + b)
함수("안녕", 3) # str 과 int를 더할수가 없어서

In [23]:
# 215
def print_with_smile(a):
  print(a + ':D')
print_with_smile('XD\n')

XD
:D

In [22]:
# 216
print_with_smile('안녕하세요')

안녕하세요 :D

In [17]:
# 217
def print_upper_price(a):
  print(a * 1.3)
print_upper_price(100)

130.0

In [26]:
# 218
def print_sum(a, b):
  print(a + b)
print_sum(1,2)

3

In [27]:
# 219
def print_arithmetic_operation(a, b):
  print(f'{a} + {b} = {a + b}')
  print(f'{a} - {b} = {a - b}')
  print(f'{a} * {b} = {a * b}')
  print(f'{a} / {b} = {a / b}')
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
# 220
def print_max(a, b, c):
  if a > b and a > c:
    print(a)
  elif c > a and c > b:
    print(c)
  else:
    print(b)
print_max(1, 2, 3)

In [ ]:
# 221

In [ ]:
# 222
def print_score(list):
  print(f'{sum(list) / len(list)}')
print_score ([1, 2, 3])

In [37]:
# 223
def print_even(list):
  for a in list:
    if a % 2 == 0:
      print(a)
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [48]:
# 224
def print_keys(dict):
  for key in dict.keys():
    print(key)
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
# 225

In [ ]:
# 226

In [ ]:
# 227

In [ ]:
# 228

In [ ]:
# 229
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)
my_print(a=100, b=200)

# 왼쪽 100
# 오른쪽 200

In [ ]:
# 230
def my_print (a, b) :
 print("왼쪽:", a)
 print("오른쪽:", b)
my_print(b=100, a=200)

# 왼쪽 200
# 오른쪽 100