<a href="https://colab.research.google.com/github/0hJunSeok/Python/blob/main/PythonDay8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 클래스와 객체

result1 = 0

def add1(num): # 슈퍼마켓 계산대 계산기
  global result1
  result1 += num
  return result1

print(add1(3))

3

In [5]:
result1 = 0
result2 = 0

def add1(num): # 슈퍼마켓 계산대 계산기
  global result1
  result1 += num
  return result1

def add2(num): # 슈퍼마켓 계산대 계산기
  global result2
  result2 += num
  return result2

print(add2(4))

4

In [6]:
print(add1(1))
print(add2(3))

1
7

In [7]:
print(add1(4))
print(add2(3))

5
10

In [13]:
class Calculator:
  def __init__(self):
    self.result = 0

  def add(self, num):
    self.result += num
    return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal2.add(4))

print(cal1.add(3))
print(cal2.add(7))

3
4
6
11

In [14]:
class Candy:
  def set_info(self, shape, color):
    self.shape = shape
    self.color = color
  
satang = Candy()
satang.set_info('circle','brown')

print(satang.shape)
print(satang.color)

circle
brown

In [ ]:
class Candy:
  def __init__(self, shape, color):
    self.shape = shape
    self.color = color

satang = Candy('circle','brown')

print(satang.shape)
print(satang.color)

In [24]:
# 클래스 변수는 객체들이 함께 사용하는 공유 변수이다.
# 하지만 객체지향의 핵심은 객체들이 각기 따로따로 변수값을 가지고 있다는 것이다.

class Korean:
  country = '한국'

  def __init__(self, name, age, address):
    self.name = name
    self.age = age
    self.address = address

man = Korean('홍길동','17','서울')
man.name
man.country
Korean.country

woman = Korean('성춘향','14','남원')
woman.name

'성춘향'

In [25]:
woman.country

'한국'

In [36]:
# 클래스 매서드

# 객체를 생성하지 않고도 호출하여 사용할 수 있다.     클래스명.메소드명
# @classmethod 데코레이터 장식자를 표시하여 사용한다.
# 매개변수 slef 를 사용하지 않고 cls 를 사용한다.

class Korean:

  country = '한국' # 클래스 변수

  @classmethod
  def trip(cls, country):
    if cls.country == country:
      print('국내 여행입니다.')
    else:
      print('해외 여행입니다.')

Korean.trip('한국')
Korean.trip('미국')

국내 여행입니다.
해외 여행입니다.

In [ ]:
# 정적 매서드 static nethod

# 1.객체 또는 클래스로 호출한다.
# 2.@staticmathod 데코레이터 장식자로 표시한다.
# 3.매개변수는 없을수도 있다.

# 정적 매서드는 self와 cls 모두 사용하지 않는다.
# 하지만 정적 매서드는 클래스에 소속되어있어도 객체에는 영향을 주지않고
# 또 객체로부터도 영향을 받지 않는다.

class Korean:
  country = '한국' # 클래스 변수

  @staticmethod
  def slogan():
    print('lmagine your Korea')

Korean.slogan()

In [38]:
# 상속

# 어떤 클래스가 가지고 있는 기능을 그대로 물려받아서 사용하는 클래스를 만들수 있다
# 다른 클래스의 기능을 물려받는 다는 의미로 상속이라는 표현을 쓴다.

# 부모 클래스     자식 클래스
# 슈퍼 클래스     서브 클래스
# 기반 클래스     파생 클래스

# 서브클래스의 생성자를 구현할때는 반드시 슈퍼크래스의 생성자를 
# 먼저 호출하는 코드를 작성해야 한다. 자식은 반드시 부모가 있어야 태어날수가 있다.             
class Person:
  def __init__(self, name):
    self.name = name

  def eat(self, food):
    print(self.name + '가' + food + '를 먹습니다.')

class Student(Person):
  def __init__(self, name, school):
    super().__init__(name)
    self.school = school

  def study(self):
    print(self.name + '는' + self.school + '애서 공부를 합니다.')

potter = Student('해리포터','호그와트')
potter.eat('감자')
potter.study()

해리포터가감자를 먹습니다.
해리포터는호그와트애서 공부를 합니다.

In [48]:
class Person:

  population = 0

  def __init__(self, name):
    self.name = name
    Person.population += 1
    print(f'{self.name} is born')

  def __del__(self):
    Person.population -= 1
    print(f'{self.name} is dead')

  @classmethod
  def get_population(cls):
    return cls.population
  
  man = Person('james')
  woman = Person('emily')

  print(f'전체 인구수 : {Person.get_population()}명')
  del man
  print(f'전체 인구수 : {Person.get_population()}명')

james is born
emily is born
전체 인구수 : 2명
james is dead
전체 인구수 : 1명

In [57]:
# 예외 처리  exception

2/0

ZeroDivisionError: ignored

In [ ]:
li = [1,2,3]
li[3]

In [55]:
a = int(input('제수를 입력하세요 >>> '))
b = int(input('피재수를 입력하세요 >>>'))

if b == 0:
  print('0으로 나누는 것은 불가능합니다.')
else:
  print(f'{a/b}')

# 1.어떤 문제가 발생할지 예상 해야만 처리할수 있다.
# 2.어떤 문제가 발생할지 예상을 하더라도 대비할수 없을수도 있다.

제수를 입력하세요 >>> 2
피재수를 입력하세요 >>>0
0으로 나누는 것은 불가능합니다.

In [59]:
try:
  a = int(input('제수를 입력하세요 >>> '))
  b = int(input('피제수를 입력하세요 >>>'))
  print(f'{a/b}')
except ZeroDivisionError:
  print('0으로는 나눌수 없습니다.')
except ValueError:
  print('정수만 입력할 수 있습니다.')

제수를 입력하세요 >>> ㄴㅇㅁㄻㄴㄹ
정수만 입력할 수 있습니다.

In [62]:
try:
  a = int(input('제수를 입력하세요 >>> '))
  b = int(input('피제수를 입력하세요 >>>'))
  print(f'{a/b}')
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)

제수를 입력하세요 >>> 러ㅗ하
invalid literal for int() with base 10: '러ㅗ하'

In [ ]:
try:
  a = int(input('제수를 입력하세요 >>> '))
  b = int(input('피제수를 입력하세요 >>>'))
  result = a/b
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
else: # 에러가 발생하지 않았을 때
  print(f'{result}')

In [63]:
try:
  a = int(input('제수를 입력하세요 >>> '))
  b = int(input('피제수를 입력하세요 >>>'))
  result = a/b
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print(e)
else: # 에러가 발생하지 않았을 때
  print(f'{result}')
finally:  # 언제나 마지막에 거쳐서 끝낸다.
  print('프로그램 종료')

제수를 입력하세요 >>> 4
피제수를 입력하세요 >>>2
2.0
프로그램 종료

In [ ]:
# 예외 강제 발생

if 1 == 1:
  raise Exception('예외 강제 발생')

In [ ]:
class Quiz:
  answer = ['경기도','강원도','충청남도','충청북도','전라남도','전라북도','경상남도','경상북도','제주도']

  @classmethod
  def challenge(cls):
    do = input('정답은? >>> ')
    if do not in cls.answer:
      raise Exception('틀렸습니다.')

try:
  print('우리나라의 9개 모든 도를 맞히는 퀴즈입니다. 하나씩 대답하세요.')
  Quiz.challenge()
except Exception as e:
  print(e)