<a href="https://colab.research.google.com/github/0hJunSeok/Python/blob/main/PythonDay5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# for 문

for n in [1,2,3]:
  print(n)

In [ ]:
n = 1
while n in [1,2,3]:
  print(n)
  n += 1

In [ ]:
# 반복 가능 객체 (컬렉션)
# 시킨스 자료형 - 문자열 리스틑 튜플 range
# 비시퀸스 자료형 - 셋, 딕셔너리 (순서가 없다.)

for ch in 'Hello':
  print(ch)

In [ ]:
for item in ['가위','바위','보']:
  print(item)

In [ ]:
# for 문과 tuple

for season in ('Spring','Summer','Autumn','Winter'):
  print(season)

In [ ]:
# for 문과 range()

# range(5)  # 0부터 5미만(4까지)
# range(2,10) # 2부터 10미만(9까지)

In [ ]:
print(list(range(5)))
print(list(range(2,10)))

In [ ]:
for n in [1,2,3,4,5,6,7,8,9,10]:
  print(n)

In [ ]:
for n in range(1,11):
  print(n)

In [ ]:
# for 문과 set

for item in ('가위','바위','보'):
  print(item)

In [ ]:
# for 문과 딕셔너리

person = {
    'name':'에밀리', 
    'age':20
}

for item in person:
  print(item, person[item])

In [ ]:
n = int(input('임의의 양수를 입력하세요 >>> '))

sum = 0
for no in range(1,n+1):
  sum += no
print(f'1부터 {n}사이 모든 정수의 합계는 {sum}입니다')

In [ ]:
no = int(input('몇 개의 과일을 보관할까요? >>> '))

basket = []

for i in range(no):
  fruit = input(f'{i+1}번째 과일을 입력하세요 >>> ')
  basket.append(fruit)

print(f'입력받은 과일들은 {basket}입니다')

In [ ]:
n = 1
while n <= 10:
  print(n)

  n += 1

In [ ]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n += 1

In [ ]:
total = 0
for a in range(1,101):
  if a % 3 == 0:
    continue 
  total += a

print(total)

3367

In [ ]:
coin = 10000

while True:
  print(f'현재 {coin}원이 있습니다.')

  if coin == 0:
    break

  pay = int(input('사용할 금액 입력 >>> '))

  if pay <= 0:
   print('0이하의 금액은 사용할 수 없습니다.')
  elif pay > coin:
   print(f'{pay - coin}원이 부족합니다.')
  else:
    coin -= pay

In [4]:
while True:
  score = int(input('이번 영화의 평점을 입력하세요 >>> '))

  if score > 5 or score <= 0:
    print('평점은 1~5 사이만 입력할수 있습니다.')
  else:
    print('평점 : ', '★' * score)
    break

이번 영화의 평점을 입력하세요 >>> 10
평점은 1~5 사이만 입력할수 있습니다.
이번 영화의 평점을 입력하세요 >>> 5
평점 :  ★★★★★

In [ ]:
answer = 'qwerty'

no = 1

while True:
  password = input('비밀번호를 입력하세요 >>> ')

  if answer == password:
    print('비밀번호를 맞혔습니다.')
    break 

  if no == 5:
    print('비밀번호 입력횟수를 초과했습니다.')
    break

  no += 1

In [ ]:
for i in range(2,10):
  if i % 2 == 0:
    continue
  for j in range(1,10):
    if j > i:
      break
    print(f'{i} * {j} = {i * j}')
  print()

In [12]:
# 내장함수

# enumerate()
for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [14]:
for idx, item in enumerate(['가위','바위','보']):
  print(idx + 1, item)

1 가위
2 바위
3 보

In [15]:
# zip()

names = ['james','emily','amanda']
scores = [60,70,80]

for student in zip(names,scores):
  print(student)

('james', 60)
('emily', 70)
('amanda', 80)

In [16]:
names = ['james','emily','amanda']
scores = [60,70,80]

for name, score in zip(names,scores):
  print(f'{name}의 점수는 {score}점 입니다.')

james의 점수는 60점 입니다.
emily의 점수는 70점 입니다.
amanda의 점수는 80점 입니다.

In [ ]:
# 사용자 함수

# def 함수명(변수):
#   본문
#   return 결과

In [ ]:
# 1 인수 없고 반환 없는 사용자 정의 함수
# 2 인수 있고 반환 없는 사용자 정의 함수
# 3 인수 없고 반환 있는 사용자 정의 함수
# 4 인수 있고 반환 있는 사용자 정의 함수

In [ ]:
# 1 인수 없고 반환 없는 사용자 정의 함수

def welcome():
  print('Hello World')

welcome() # 만들고 호출

In [ ]:
# 2 인수 있고 반환 없는 사용자 정의 함수

def welcome(name):
  print('Hello', name)

welcome('Austin')

In [ ]:
# 3 인수 없고 반환 있는 사용자 정의 함수

def welcome():
  return 1

welcome()

In [ ]:
# 4 인수 있고 반환 있는 사용자 정의 함수

def add(a, b):
  return a + b

add(3,4)

In [ ]:
def introduce(name, age):
  print(f'내이름은 {name}이고, 나이는 {age}살입니다.')

introduce('james', 25)

In [33]:
# 가변 매개변수

def add(*args):
  sum = 0
  for item in args:
    sum += item
  print(sum)

add(1,2,3,4,5,6,7,8,9)

45

In [36]:
def add(*args):
  print(sum(args))

add(1,2,3,4,5,6,7,8,9)

45

In [29]:
# 디폴트 매개변수

def greet(massage = '안녕하세요'):
  print(massage)

greet()

안녕하세요

In [ ]:
greet('방가방가')