<a href="https://colab.research.google.com/github/0hJunSeok/Python/blob/main/PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 모음 - 여러 값을 하나의 이름으로 묶어서 관리하는 자료형


# 리스트 (***) [] 추가/수정/삭제 가능 mutable      인덱싱/슬라이싱 가능
# 튜플         () 추가/수정/삭제 불가능 immutable  인덱싱/슬라이싱 가능
# 딕셔너리     {} 추가/수정/삭제 가능 mutable      인덱싱/슬라이싱 불가능, 순서가 없다
# 셋           {} 추가/수정/삭제 가능 mutable      인덱싱/슬라이싱 불가능, 순서가 없다

In [ ]:
# 리스트 - 가장 많이 사용하는 자료형이다. 자료형이 다른 데이터들도 함께 저장할수 있다.

li1 = [1,2,3,4]
print(li1)
li2 = [2, 3.14, 'hello']
print(li2)

In [ ]:
a = 'hello'
a[2]

In [ ]:
li = [2, 3.14, 'hello']
li[-1] # 리스트에서 인덱싱 가능

In [ ]:
# (start, stop, step)

li = [2, 3.14, 'hello']
li[0:2] # 리스트에서 슬라이싱 가능

In [24]:
scores = [50,40,30]

scores.append(80) # append 끝에서부터 하나씩 추가
scores

scores.insert(0, 100) # insert 위치를 정해서 추가 가능

In [ ]:
scores

In [ ]:
scores.pop() # pop 끝에서부터 하나씩 삭제

In [ ]:
scores

In [ ]:
scores.pop(0) # 위치를 정해서 삭제 가능

In [ ]:
scores

In [ ]:
# 튜플 - 수정할수없는 리스트

tu1 = (1,2,3)
print(tu1)
print(type(tu1)) # type 자료형을 알려준다

# 괄호 생략 가능
tu2 = 2,3,4 
print(tu2)
print(type(tu2))

# 자료형이 다른 데이터 사용가능
tu3 = 2,3.14,'문자'
print(tu3)
print(type(tu3))

In [ ]:
tu = (10,20,30,40,50)
tu[2]
# tu.append(60) append 불가능

In [ ]:
tu[0:3]

In [ ]:
# 셋 딕셔너리 순서가 없어서 인덱싱,슬라이싱 불가능

In [ ]:
set = {1,2,3}
print(type(set))
print(set)

In [ ]:
set = {1,2,2,3,3,3} # 중복을 제거하는 용도
print(type(set))
print(set)

In [ ]:
set.add(4) # 추가가능
set

In [ ]:
set.remove(3) # 제거가능
set

In [ ]:
set[0] # 인덱싱 불가능

In [ ]:
# 딕셔너리 : 키와 밸류 한쌍으로 구성된 자료형이다.

dict = {'a':'apple', 'b':'banana'}

print(dict)
print(type(dict))

In [ ]:
dict['w']='wateremelon' # 추가가능
print(dict)
print(type(dict))

In [ ]:
dict.pop('a') # 제거가능
print(dict)
print(type(dict))

In [ ]:
dict[0] # 인덱싱 불가능

In [ ]:
me=[1,2,3]  # 리스트
id(me)

In [ ]:
me.append(4)
print(id(me))
print(me)

In [ ]:
me = 10  # 정수
print(id(me))

In [ ]:
me += 1
print(id(me))

In [ ]:
me = [1,2,3]

you = me

print(id(me))
print(id(you))

In [ ]:
you.append(4)

print(id(me))
print(id(you))
print(me)
print(you)

In [ ]:
no1 = '서울2가1234'
no2 = '10가1234'
no3 = '288가1234'

print(no1,'의 차량번호 4자리는 ',no1[-4:],'입니다')
print(no2,'의 차량번호 4자리는 ',no2[-4:],'입니다')
print(no3,'의 차량번호 4자리는 ',no3[-4:],'입니다')

In [ ]:
s = 'maple'
print(s,'의 가운데 글자는',s[2],'입니다.')

In [ ]:
list = [10,20,30,40,50,60,70,80,90,100]
print('3번째 요소부터 7번째 요소 = ',list[2:7])
print('3번째 요소부터 7번째 요소중 2번째 요소 = ',list[2:7][1]) # 슬라이싱 걸고 인덱싱 걸수있다.

In [ ]:
dict = {'금요일':'탕수육','토요일':'유산슬','일요일':'팔보채'}
print('금요일 :',dict['금요일'])
print('토요일 :',dict['토요일'])
print('일요일 :',dict['일요일'])  # 키를 입력하면 밸류가 출력

In [ ]:
print('Hello \'World\'') # \' = 따음표를 사용하고 싶을때
print('*\n**\n***\n') # \n = 줄바꾸기
print('이름 \t 연락처') # \t = 일정 간격 띄우기
print('a \t 010-1234-5678')
print('aa \t 010-2345-6789')

In [ ]:
print('재미있는','파이썬', sep=' ')
print('Python', 'Java', 'C', sep='.')  # sep ' ' = 공백, '.'= 점으로 출력

In [ ]:
print()
print('영화 타이타닉')
print('평점', end = ':')  # end ' ' 아래말고 옆에다 출력
print('5점')

In [ ]:
# 인쇄 4가지 방법

# 1. 기본출력
# 2. %연산자출력
# 3. format()매서드
# 4. f string (***)

# %연산자출력

print('%d' % 10)
print('%d 원 입니다.' % 100) # %d 정수
print('%s 원 입니다.' % 100)

print('원주율은 %f입니다.' % 3.14) # %f 소수
print('원주율은 %s입니다.' % 3.14)

In [ ]:
print('%5d' % 1) 
print('%5d' % 12)
print('%-5d' % 1)
print('%-5d' % 12) # 자리표시 57p

In [ ]:
# format()매서드

print('My name is {}'.format('Junseok'))

In [111]:
name = 'Junseok'
age = '24'
print('My name is',name, 'i\'m',age, 'years old') # 기본출력

print('My name is %s i\'m %s years old' % ('Junseok', 24)) # %연산자출력

print('My name is {} I\'m {} years old'.format('Junseok', 24)) # format()매서드(비추천)

print(f'My name is {name} i\'m {age} years old') # f string(추천)

My name is Junseok i'm 24 years old
My name is Junseok i'm 24 years old
My name is Junseok I'm 24 years old
My name is Junseok i'm 24 years old

In [112]:
age = 24

print(f'내년엔 {age+1} 살이 됩니다.')

내년엔 25 살이 됩니다.

In [ ]:
#숙제 60P
#월요일62P~