<a href="https://colab.research.google.com/github/0hJunSeok/Python/blob/main/Python3Day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 표준입력
# input()함수는 키보드로 입력을 받을때 사용된다.

n = input()
print(f'당신이 입력한 수는 {n}입니다.')

In [ ]:
name = input('이름을 입력하세요 >>> ')
age = input('나이를 입력하세요 >>> ')

print(f'입력된 이름은 {name}이고 나이는 {age}입니다.')

In [ ]:
fruit = input('좋아하는 과일은? ')
print(f'당신이 좋아하는 과일은 {fruit}입니다.')

In [ ]:
# 형 변환 
# input을 사용해서 나오는 값은 무조건 str(문자열)이다
n = input('정수 입력 >>> ')
print(type(n))

In [ ]:
price = 5000
n = input('할부 개월 입력 >>> ')
print(f'매달 내는 돈은 {price / n}원 입니다.')

In [ ]:
price = 5000
n = int(input('할부 개월 입력 >>> '))
print(f'매달 내는 돈은 {price / n}원 입니다.') # 정수는 int

In [ ]:
a = float(input('첫 번째 실수를 입력하세요 >>> '))
b = float(input('두 번째 실수를 입력하세요 >>> '))
print(f'{a}와 {b}의 합은 {a + b}입니다.') # 실수는 float

In [ ]:
day = [31,28,31,30,31,30,31,31,30,31,30,31]
month = int(input('1~12 사이의 월을 입력하세요 >>> '))
print(f'{month}월은 {day[month-1]}일 까지있습니다 ')

In [ ]:
english_dict = {
    'flower': '꽃',
    'fly': '날다',
    'floor': '바닥'
}

word = input('영어 단어를 입력하세요 >>> ')
print(f'{word} : {english_dict[word]}') # dict 키입력 밸류출력

In [ ]:
s = set()

hope = input('희망하는 수학여행지를 입력하세요 >>> ')
s.add(hope)
hope = input('희망하는 수학여행지를 입력하세요 >>> ')
s.add(hope)
hope = input('희망하는 수학여행지를 입력하세요 >>> ')
s.add(hope)
print(f'조사된 수학여행지는 {s} 입니다.') # set 중복 제거

In [ ]:
# 연산자
# **거듭제곱 //몫 %나머지

a = 7
b = 2
print(f'{a} + {b} = {a + b} ')
print(f'{a} - {b} = {a - b}')
print(f'{a} * {b} = {a * b}')
print(f'{a} ** {b} = {a ** b}')
print(f'{a} / {b} = {a / b}')
print(f'{a} // {b} = {a // b}') # 별로안씀
print(f'{a} % {b} = {a % b}') # 많이씀

In [ ]:
#대입 연산자

a = 1
b = 2

a, b = 1, 2

# 두 변수의 값 교환(다른언어)

t = a
a = b
b = t
print(f'a = {a}, b = {b}')

# 두 변수의 값 교환(파이썬)

a, b = b, a
print(f'a = {a}, b = {b}')

In [ ]:
# 복합 대입 연산자

a = 1
print(a)
a = a + 1
print(a)
a += 1
print(a)
a -= 1 # a = a - 1
print(a)

In [ ]:
a, b = 10, 20
print(f'a = {a}, b = {b}')

a, b = b, a # 파이썬 고유의 표현
print(f'a = {a}, b = {b}')

In [ ]:
piggy_bank = 0

money = 10000
piggy_bank += money
print(f'저금통에 용돈 {money}원을 넣었습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

snack = 2000
piggy_bank -= snack
print(f'저금통에서 스낵 구입비 {snack}원을 뺐습니다.')
print(f'지금 저금통에는 {piggy_bank}원이 있습니다.')

In [ ]:
# 시퀸스 연산자

[1,3,5] + [2,4,6]

In [ ]:
'hello'+' '+'python'

In [ ]:
[1,3,5] * 2

In [ ]:
'*' * 5

In [ ]:
'-' * 30    #문자열이 계산이 된다

In [ ]:
# 멤버쉽 연산자
# 어떤 값이 지정된 컬렉션에 (리스트, 문자열, 딕셔너리) 속해 있는지 여부를 판단하여 
# 속해있으면 Ture 아니면 False로 반환

5 in [1,2,3,4,5]

In [ ]:
'n' in 'apple'

In [ ]:
5 not in [1,2,3,4,5]

In [ ]:
# 삼항 연산자

# 참 if 조건식 else 거짓

1 if 1 > 2 else 2

In [ ]:
no = int(input('10 ~ 99 사이의 정수를 입력하세요 >>> '))
print(f'십의 자리 : {no // 10}')
print(f'일의 자리 : {no % 10}')

In [ ]:
second = int(input('초를 입력하세요 >>> '))
print(f'변환 결과는 {second // 3600}시간 {(second % 3600) // 60}분 {second % 60}초 입니다')

In [ ]:
id = int(input('4자리 사원번호를 입력하세요 >>> '))
id_last = id % 10
is_am = id_last >= 5
print(f'근무 시간은 {("오전" if is_am else "오후")}입니다.')